@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="contact row">
    <div>
        <header class="contact-header">Contact & About</header>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        
        <div class="contact-column-bg ">
            <div class="contact-column">
                <div class="contact-column-emptyDiv"></div>
                <hr />
                <header>Contact Us</header>
                <hr />
                <p>
                    This website was written by Ezekiel Graetz
                    To get in contact please email U3213746@uni.canberra.edu.au<br />
                </p>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="contact-column-bg">
            <div class="contact-column">
                <div class="contact-column-emptyDiv"></div>
                <hr />
                <header>About Us</header>
                <hr />
                <p>
                    This website provides an introduction to Artificial Intelligence and was created as partial fulfillment of the assessment requirements of Web Design and Programming at the University of Canberra.
                    <br />This site is built on the ASP.NET CORE framework and employs Bootstrap responsive design techniques.
                </p>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="contact-column-bg">
            <div class="contact-column">
                <div class="contact-column-emptyDiv"></div>
                <hr />
                <header>Copyright</header>
                <hr />
                <p>
                    All images used in this website were downloaded from Unsplash <a href="https://fontawesome.com/">Unsplash</a>
                    <br />The icons for the footer from fontawesome. <a href="https://fonts.google.com/">fontawesome</a>
                    <br />The Anton font used for headers from Google Fonts. <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Google Fonts</a>
                    <br />The AI jobs dataset from Insights. <a href="https://insights.ai-jobs.net">Insights</a>
                    <br />The Python source from Kaggle <a href="https://www.kaggle.com/code/sowrabhghosh/data-science-salary-2020-22-analysis">Kaggle</a>
                    <br />The Python web based on PyScript from Real Python. <a href="https://realpython.com/pyscript-python-in-browser/">Real Python</a>
        </p>
            </div>
        </div>
    </div>
    <div>
        <br /><br /><br /><br /><<br />
    </div>
</div>





