@{
    ViewData["Title"] = "Home Page";
}
  
<div ></div>
<div class="overflow-hidden" id=" video-dull">
    <video autoplay muted loop id="my-video">
        <source src="/files/videos/video.mp4" type="video/mp4"/>
    </video>
</div>

@*Background Video*@
<div class="text-center " id="Artificial-Intelligence">
    <header class="display-4">Artificial Intelligence</header>
    <p>
        Artificial Intelligence (AI) is intelligence demonstrated by machines, <br />
        as opposed to the natural intelligence displayed by animals including<br />
        humans. AI research has been defined as the field of study of intelligent<br />
        agents,which refers to any system that perceives its environment and<br />
        takes actions that maximize its chance of achieving its goals.<br />
        Wikipedia
    </p>
    
</div>

@*Title Section*@
<div id="Home-div1">
    
        <p>
            Top 6 AI Technologies
        </p>
    
</div>

@*6 Boxes Section*@
<div class="Home-div2" id="Home-div2">
    
      @*  <div class="row">
            <figure class="tech-fig col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <img class="tech-img" src="~/files/images/technologies/ml.jpg">
                <figcaption>
                    <h2>Machine Learning</h2>
                    <p>
                        Machine learning (ML) is a field of inquiry devoted to 
                        understanding and building methods that 'learn', that is, 
                        methods that leverage data to improve performance on some 
                        set of tasks. It is seen as a part of artificial 
                        intelligence (Wikipedia).
                    </p>
                    <button class="Read-more-button" onclick="window.location.href='https://en.wikipedia.org/wiki/Machine_learning';">Read more</button>
                </figcaption>
            </figure>


            <figure class="tech-fig col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <img class="tech-img" src="~/files/images/technologies/dl.jpg">
                <figcaption>
                    <h2 >Deep Learning</h2>
                    <p >
                        Deep learning (also known as deep structured learning) 
                        is part of a broader family of machine learning methods 
                        based on artificial neural networks with representation 
                        learning. Learning can be supervised, semi-supervised or 
                        unsupervised (Wikipedia).
                    </p>
                    <button class="Read-more-button" onclick="window.location.href='https://en.wikipedia.org/wiki/Deep_learning';">Read more</button>
                </figcaption>
            </figure>


            <figure class="tech-fig col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <img class="tech-img" src="~/files/images/technologies/nlp.jpg">
                <figcaption>
                    <h2 >Natural Language Processing</h2>
                    <p >
                        Natural language processing (NLP) is a subfield of linguistics, 
                        computer science, and AI concerned with the interactions between 
                        computers and human language, in particular how to program 
                        computers to process and analyze large amounts of natural 
                        language data (Wikipedia).
                    </p>
                    <button class="Read-more-button" onclick="window.location.href=' https://en.wikipedia.org/wiki/Natural_language_processing';">Read more</button>
                </figcaption>
            </figure>


            <figure class="tech-fig col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <img class="tech-img" src="~/files/images/technologies/nn.jpg">
                <figcaption>
                    <h2> Neural Networks</h2>
                    <p >
                        A neural network is a network or circuit of biological 
                        neurons, or, in a modern sense, an artificial neural network, 
                        composed of artificial neurons or nodes. Thus, a neural 
                        network is either a biological neural network, made up of 
                        biological neurons, or an artificial neural network, used 
                        for solving artificial intelligence (AI) problems (Wikipedia).
                    </p>
                    <button class="Read-more-button" onclick="window.location.href=' https://en.wikipedia.org/wiki/Neural_network';">Read more</button>
                </figcaption>
            </figure>


            <figure class="tech-fig col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <img class="tech-img" src="~/files/images/technologies/cc.jpg">
                <figcaption>
                    <h2>Cognitive Computing</h2>
                    <p >
                        Cognitive computing (CC) refers to technology platforms 
                        that, broadly speaking, are based on the scientific 
                        disciplines of AI and signal processing. These platforms 
                        encompass ML, reasoning, NLP, speech recognition and 
                        vision recognition, human-computer interaction, dialog 
                        and narrative generation, among other technologies (Wikipedia).
                    </p>
                    <button class="Read-more-button" onclick="window.location.href='https://en.wikipedia.org/wiki/Cognitive_computing ';">Read more</button>
                </figcaption>
            </figure>


            <figure class="tech-fig col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                <img class="tech-img" src="~/files/images/technologies/cv.jpg">
                <figcaption>
                    <h2 >Computer Vision</h2>
                    <p >
                        Computer vision is an interdisciplinary scientific 
                        field that deals with how computers can gain high-level 
                        understanding from digital images or videos. From 
                        the perspective of engineering, it seeks to understand
                        and automate tasks that the human visual system can do 
                        (Wikipedia).
                    </p>
                    <button class="Read-more-button" onclick="window.location.href='https://en.wikipedia.org/wiki/Computer_vision';">Read more</button>
                </figcaption>
            </figure>
        </div>*@
    

</div>


<div id="Home-div3">
    <div class="Home-jobs">
        <p>
            AI Jobs in the last 3 years
        </p>
    </div>


    <div class="Home-pie">
        <a href="Home/Jobs">
        <img src="~/files/images/jobs/top7jobs.jpg"/>
        </a>
    </div>


    <div>
        <p>
            Top 12 AI Companies
        </p>
    </div>


    
    <div class="companies row" id="companies">

    </div>
    


    <div>
        <br /><br /><br /><br /><<br />
    </div>
</div>
