@{
    ViewData["Title"] = "Privacy Policy";
}



<div class="Jobs-bg">
    <header>AI Jobs</header>
    <p>
        AI job dataset: Insights AI-Jobs <br /> Python source for tables and plots: Kaggle
    </p>
</div>

<div class="Jobs-div1">
    <div id="tableHeader"></div>
    <table class="plot" id="tbl"></table>
    <div class="plot" id="piechart"></div>
    <div class="plot" id="barplot"></div>
    <div class="plot" id="empoymentBarplot"></div>
    <div class="plot" id="experienceBarplot"></div>
    <div>
        <br /><br /><br /><br /><<br />
    </div>
</div>



